.dialog {
  width: 85%;
  margin: 8px;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dialog-left-bottom {
  border-radius: 10px 10px 10px 0px;
  float: left;
  background-color: #f0f0f0;
}

.dialog-right-bottom {
  border-radius: 10px 10px 0px 10px;
  float: right;
  color: white;
  background-color: #e65c41;
}

.dialog-content {
  padding: 10px;
}
